{% extends "base.html" %}

<!-- css -->
{% block css %}
<link rel="stylesheet" href="{% static "css/blog/blog_list.css" %}">
<link rel="stylesheet" href="{% static "lib/bootstrap-select/css/bootstrap-select.min.css" %}">
{% endblock %}
<!--css end-->

<!-- body-->
{% block body %}
<div class="container">
    <div class="row  row-edit">
        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
            <form>
                <input name="title" type="text" placeholder="Title?" />
                <textarea name="content" data-provide="markdown" rows="10"></textarea>
                <label class="checkbox">
                    <input name="publish" type="checkbox"> Publish
                </label>
    <hr/>
    <button type="submit" class="btn">Submit</button>
  </form> 
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <select class="selectpicker" data-width="100px">
                <option value="">a</option>
                <option value="">b</option>
            </select>
        </div>
    </div>
</div> 
   
{% endblock %}
<!-- body end-->

<!--javascript-->
{% block javascript %}
<script src={% static 'lib/bootstrap-select/js/bootstrap-select.min.js' %}></script>
<script src={% static 'lib/tinymce/js/tinymce/tinymce.min.js' %}></script>

<script>
    $(document).ready(function(){
        tinymce.init({
            'selector':'textarea',
            'language':'zh_CN',
            
            'height':'500'
        });
    });
</script>
{% endblock %}
<!--javascript end-->

