{% extends "base.html" %}

<!-- css -->
{% block css %}
<link rel="stylesheet" href="{% static "css/blog/blog_list.css" %}">
<link rel="stylesheet" href="{% static "lib/bootstrap-select/css/bootstrap-select.min.css" %}">
{% endblock %}
<!--css end-->

<!-- body-->
{% block body %}
<div class="container common-container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
            <form action="{% url 'blog:article_add' %}" id="article_form" method="POST" onsubmit="return add_article()">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="{{form['title'].name}}" id="{{form['title'].id_for_label}}" placeholder="请输入标题"/>
                </div>
                <div>
                    <textarea name="{{form['content'].name}}" id="{{form['content'].id_for_label}}" cols="30" rows="30" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-default btn-lg btn-block">提交</button>
            </form>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 ">
            <div class="panel panel-default">
                <div class="panel-heading">选择分类</div>
                <div class="panel-body">
                    <select id="panel_category" class="form-control">
                        <option value="0" selected>请选择分类</option>
                        {% for category in form['category'].field.choices %}
                            <option value="{{category[0]}}">{{category[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="panel-footer">
                    <input type="text" id="add_category_name"  placeholder="输入分类名">
                    <button type="button" onclick="add_category()">确定</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">选择标签</div>
                <div class="panel-body" id="panel_tag">
                {% for tag in form['tags'].field.choices %}
                    {{tag[1]}}&nbsp
                {% endfor%}
                </div>
                <div class="panel-footer">
                    <input type="text"  id="add_tag_name" placeholder="输入标签名">
                    <button type="button" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- body end-->

<!--javascript-->
{% block javascript %}
<script src={% static 'lib/bootstrap-select/js/bootstrap-select.min.js' %}></script>
<script src={% static 'lib/tinymce/js/tinymce/tinymce.min.js' %}></script>

<script>
   
</script>
{% endblock %}
<!--javascript end-->

