{% extends "base.html" %}

<!-- css -->
{% block css %}

{% endblock %}
<!--css end-->

<!-- body-->
{% block body %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-sm-9 col-xs-12 col-md-9 col-lg-9">
            <div class="post-title">
                <h1><a href="">django源码剖析 </a></h1>
                <ul class="post-meta">
                    <li>作者:<a href="">youngershen</a></li>
                    <li>时间:<time itemprop="datePublished" datetime="2014-11-28T08:53:00+08:00">November 28, 2014</time></li>
                    <li>分类:<a href="/">默认分类</a></li>
                </ul>
                <p>死神高达编辑. 以Wing Zero为设计原型研发，用于破袭战方面的高性能试作型机体，于A.C.194年在L2地群完成后，参与了殖民地方面于次年发动的“流星行动”</p>
            </div>
                
            <div class="jumbotron">
                <h1>test</h1>
                <p>this is a test</p>
            </div>
                    
            <div class="jumbotron">
                <h1>test</h1>
                <p>this is a test</p>
            </div>
        </div><!-- /.col-xs-12 col-sm-9 -->
        
        <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3 row-offcanvas-left" role="navigation">
            <div class="list-group">
                <a href="" class="list-group-item active">test</a>
                <a href="" class="list-group-item ">test</a>
                <a href="" class="list-group-item ">test</a>
                <a href="" class="list-group-item ">test</a>
                <a href="" class="list-group-item ">test</a>
            </div>
        </div>
    </div>
            
    <footer>
        <p>&copy; Younger shen 2014</p>
    </footer>     
</div>
{% endblock %}
<!-- body end-->

<!--javascript-->
{% block javascript %}
{% endblock %}
<!--javascript end-->

