<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html">
        <meta http-equiv="charset" content="utf8">
        <meta name="keywords" content="{% block keywords %} python, html, javascript, cooking, gaming , dota , love {% endblock %}">
        <meta name="description" content="{% block description %} younger's blog about python , html , web, programming and life{% endblock %}">
        <meta name="author"  content="{% block author %}younger shen {% endblock %}">
        <meta name="revised" content="{% block revised %}younger shen{% endblock %}">
        <base href="/">
        <base target="_blank">
        <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
        {% block css %} {% endblock %} 
        <title>{% block title %} my blog {% endblock %}</title>
    </head>    

    <body>
     test base .html
    </body>
    
    <script src="{% static "lib/jquery/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    {% block javascript %} {% endblock %}
    
</html>
